#menu{
    height: auto;
    background: #181818;
    width: 100%;
    position:relative;
    padding: 4px;
}

/**********************************
    Menu super admin
***********************************/

#menuSuperAdmin{
    z-index:1;
}

#menuSuperAdmin{
    margin-bottom: 5px;
}

#menuSuperAdmin.menu > li {
    background-image: linear-gradient(#953C6B 50%, #893260 50%);
}

/**********************************
    Menu admin
***********************************/

#menuAdmin{
    z-index:2;
}

#menuAdmin{
    margin-bottom: 5px;
}

#menuAdmin.menu > li {
    background-image: linear-gradient(#A04B4F 50%, #984347 50%);
}

/**********************************
    Menu joueur
***********************************/

#menuPlayer{
    z-index:3;
}

#menuPlayer.menu > li {
    background-image: linear-gradient(#4C5E9D 50%, #485995 50%);
}

/**********************************
    Information du joueur && DECO
***********************************/

 #menuInformation
 {
    position: absolute;
    color: white;
    right: 30px;
    top: 10px;
 }
 #menuInformation.menu > li
 {
     width:120px;
 }
 
/**********************************
    CSS menu general/commun
***********************************/

.menu a { 
	display:block; 
	color: #fff; 
	text-decoration:none;
}
.menu > li,
.menu > li li {
	position: relative;
	display:inline-block;
	width: 80px;
	padding: 3px 7px;
}
.menu > li li { background: transparent none; }
.menu > li li a { color: #444; }
.menu > li li:hover { background:#ddd; }

.menu > li:hover {
	//background-image: linear-gradient(#ccc, #aaa 50%, #999 50%,#bbb);
}

.menu ul {
	position: absolute;
	top: 19px; left: 0;
	max-height:0em;	
	margin: 0; padding: 0;
	background-color: #ddd;
	background-image: linear-gradient(#fff,#ddd);
	overflow: hidden;
	transition: 0.8s max-height 0.3s;
	border-radius: 0 0 2px 2px;
        z-index:4;
}
.menu ul a{
    font-size:11px;
}
.menu > li:hover ul {
	max-height: 13em;
}




